<%= form_for(@submenu) do |f| %>
  <% if @submenu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submenu.errors.count, "error") %> prohibited this submenu from being saved:</h2>

      <ul>
      <% @submenu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombremenu %><br>
    <%= f.text_field :nombremenu %>
  </div>
  <div class="field">
    <%= f.label :menu_id %><br>
    <%= f.select :menu_id, @menus.map {|comp| [comp.nombremenu, comp.id]}, {:include_blank => true}, :class=>'' %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
