<h1>Listing submenus</h1>

<table>
  <thead>
    <tr>
      <th>Submenu</th>
      <th>Menu</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submenus.each do |submenu| %>
      <tr>
        <td><%= submenu.nombremenu %></td>
        <td><%= submenu.menu_id %></td>
        <td><%= submenu.descripcion %></td>
        <td><%= link_to 'Show', submenu %></td>
        <td><%= link_to 'Edit', edit_submenu_path(submenu) %></td>
        <td><%= link_to 'Destroy', submenu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submenu', new_submenu_path %>
