<p id="notice"><%= notice %></p>

<p>
  <strong>Submenu:</strong>
  <%= @submenu.nombremenu %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @submenu.menu_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @submenu.descripcion %>
</p>

<%= link_to 'Edit', edit_submenu_path(@submenu) %> |
<%= link_to 'Back', submenus_path %>
