
    <div ng-show="productos < 1" id="tiendanoproductos">

            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 200px;"></span>
        <p class="lead">
            No hay productos en su carrito
        </p>

    </div>
<div class="container" ng-hide="productos < 1">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-md-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span>Contenido del carrito</h5>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="limpiarProductos()">
                                    <span></span>Limpiar productos
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" data-ng-repeat="producto in productos track by $index">
                        <div class="col-md-2"><img class="img-responsive" src="{{producto.imagen}}">
                        </div>
                        <div class="col-md-4">
                            <h4 class="product-name"><strong>{{producto.nombre}}</strong></h4><h4><small></small></h4>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6 text-right">
                                <h6><strong>{{producto.costo}} <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-md-2 col-xs-5">
                                <input type="text" class="form-control input-sm" value="{{producto.cantidad}}" readonly>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-link btn-md" ng-click="eliminarProducto(producto)">
                                    <span class="glyphicon glyphicon-trash"> </span>
                                </button>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <hr>

                    <hr>
                    <div class="row">
                        <div class="text-center">
                            <!--<div class="col-xs-9">-->
                                <!--<h6 class="text-right">Added items?</h6>-->
                            <!--</div>-->
                            <!--<div class="col-xs-3">-->
                                <!--<button type="button" class="btn btn-default btn-sm btn-block">-->
                                    <!--Update cart-->
                                <!--</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div>

                <% if user_signed_in? %>
                      <textarea placeholder="Comentarios" class="form-control" ng-model="comentario"></textarea>

                <% else %>


                <% end %>
                </div>

                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-md-9">
                            <h4 class="text-right">Total <strong>{{calcularTotal()}} {{total}}</strong></h4>
                            <input type="hidden" ng-model="total" ng-value="{{calcularTotal()}} {{total}}">
                        </div>
                        <div class="col-md-3">
                            <% if user_signed_in? %>

                              <span class="btn btn-success btn-block" ng-click="checkout(productos)"> Comprar </span>
                              <br />

                            <% else %>
                              <%= link_to "Requiere Registro", new_user_registration_path,  "data-no-turbolink" => true, :class => 'btn btn-primary btn-block ' %>

                              <button type="button" class="btn btn-success btn-block"   disabled>
                                  Checkout
                              </button><br />

                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
