<div class="page-header">
  <h1>Bienvenidos a Tijuana Geek<br /><small>Tienda Oficial Magic The Gathering</small></h1>

</div>
<div class="clearfix"></div>

<script>
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>

  <div class="jumbotron row">
      <!-- Place somewhere in the <body> of your page -->
    <p>
      <div class="flexslider">
        <ul class="slides">
          <li>
            <%= image_tag "logo.jpg" %>
          </li>
          <li>
            <%= image_tag "logo.jpg" %>
          </li>
          <li>
            <%= image_tag "logo.jpg" %>
          </li>
          <li>
            <%= image_tag "logo.jpg" %>
          </li>
        </ul>
      </div>
    </p>

    <p>
      Nosotros estamos ubicados en la Zona Centro en Tijuana Baja California, en nuestras instalaciones podras jugar a Magic The Gathering, Dungeons & Dragons y
    otros juegos de rol, te invitamos a que vengas y conozcas nuestra tienda donde podras encontrar multitud de productos, tanto en tienda y sobre pedido.
    </P>

  </div>
<%= render "shared/listproducto", :collection => @productos %>
