<div class="page-header">
    <h1>Quienes Somos <br /><small>Tienda Oficial Magic The Gathering</small></h1>

</div>

<div class="lead" id="quienessomos">


    <p>
        Tijuana Geek es una micro empresa formada por 4 amigos como respuesta a la tirania de los comerciantes locales  que se aprovechaban de las
        personas que no podian comprar estos productos directamente en Estados Unidos. Cansados de observar como inflavan los precios hasta
        un 400% del precio regular en los Estados Unidos.
    </p>


    <p>
      Por eso decidimos hacer nuestro propio Geek Heaven y compartirlo con todos Ustedes.
    </p>
    <p>
      Ambicionando crecer y ser la mejor tienda en su genero de todo Mexico.
    </p>

    <p>
      Tijuana Geek no pretende competir con las tiendas de Mexico, sino con las de Estados Unidos.
    </p>

    <p>
      Nos encontramos en la ciudad de Tijuana y hacemos esto por que desde niños amamos todo este universo asombroso de posibilidades infinitas.
    </p>
</div>