<div class="page-header">
  <h1><%= @producto.nombre %><br /></h1>
</div>
<div id="producto" class="col-md-12">
  <div class="col-md-5 pull-left lead">
    <br /><br />
    <div class="col-md-12">

      <%= link_to "Comprar", "sacsa", :class=>"btn btn-success btn-lg"%>
    </div>
    <table class="table">

        <tbody>
          <tr>
            <th>Costo:</th> <td><%= @producto.costo %> <small><%= @producto.tpmoneda %></small></td>
          </tr>
          <% if @producto.especial != nil %>
           <tr>

              <th>Costo Especial:</th> <td><%= @producto.especial %> <%= @producto.tpmoneda %></td>
          </tr>
          <% end %>
          <tr>
            <th>Categoria:</th> <td><%= @producto.categoria.categoria %></td>
          </tr>
        </tbody>
      </table>

  </div>
  <div class="col-md-3 pull-right ">
    <br />
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active text-center">
      <%= image_tag(@producto.imagen_url, :class => "img-responsive") if @producto.imagen? %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <% @producto.galerias.each do |ima| %>
      <div class="item text-center">
        <%= image_tag(ima.imagen_url, :class => "img-responsive" ) if ima.imagen? %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
    <% end %>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




  </div>

  <div class="clearfix"></div>
  <div class="col-md-12 lead">
    <h2 class="text-center">Descripción del producto</h2>
    <p>
      <%= @producto.descripcion.html_safe %>
    </p>
  </div>

</div>

<script>
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  })
</script>