<span ng-init="getProducto(<%= @producto.id%>);">
  <div class="page-header">
    <h1><%= @producto.nombre %><br /></h1>
  </div>
  <div id="producto" class="col-md-12">
    <div class="col-md-5 pull-left ">
      <br />
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active text-center">
            <%= image_tag(@producto.imagen_url, :class => "img-responsive") if @producto.imagen? %>
            <div class="carousel-caption">

            </div>
          </div>
          <% @producto.galerias.each do |ima| %>
            <div class="item text-center">
              <%= image_tag(ima.imagen_url, :class => "img-responsive" ) if ima.imagen? %>
              <div class="carousel-caption">

              </div>
            </div>
          <% end %>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>




    </div>
    <div class="col-md-5 pull-left lead">
      <br /><br />
      <div class="col-md-12" style="margin-bottom: 1.5em;">


          <div class="row">

              <div class="col-xs-5">
                <input type="text" ng-model="producto.cantidad"  class="form-control" placeholder="Cantidad"><br />


            </div>
          </div>
          <input type="hidden" ng-model="producto.costo">
          <input type="hidden" ng-model="producto.nombre">
          <input type="hidden" ng-model="producto.imagen">
          <input type="hidden" ng-model="producto.totalproducto" value="{{ producto.costototal() }}">




          <input type="hidden" ng-model="producto.ide" value="<%= @producto.id%>" name="ide">



      </div>
        <!--<div>-->
            <!--{{productosid}}-->
            <!--<ul class="unstyled">-->
                <!--<li data-ng-repeat="producto in compras track by $index">-->

                    <!--<span class="{{ producto.costo }}">{{ producto.costo }}</span>-->
                    <!--<span class="{{ producto.total }}">{{ producto.total }}</span>-->
                    <!--<span class="{{ producto.ide }}">{{ producto.ide }}</span> <span class="btn btn-default" ng-click="eliminarProducto(producto)">X</span>-->
                <!--</li>-->

            <!--</ul>-->
        <!--</div>-->

      <table class="table">

        <tbody>
        <tr>
          <th>Costo:</th> <td><%= @producto.costo %> <small><%= @producto.tpmoneda %></small></td>
        </tr>
        <% if @producto.especial != nil %>
          <tr>

            <th>Costo Especial:</th> <td><%= @producto.especial %> <%= @producto.tpmoneda %></td>
          </tr>
        <% end %>
        <tr>
          <th>Categoria:</th> <td><%= @producto.categoria.categoria %></td>
        </tr>
        <tr>
            <th>Resumen:</th> <td>{{producto.cantidad}}x{{producto.costo}}: {{producto.costototal()}}<br />
            <span class="btn btn-success" ng-click="addproducto()" ng-disabled="producto.cantidad < 1" id="addproducto">Agregar</span></td>
        </tr>
        </tbody>
      </table>

    </div>


    <div class="clearfix"></div>
    <div class="col-md-12 lead">
      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#descripcion" aria-controls="home" role="tab" data-toggle="tab">Descripción</a></li>
          <li role="presentation"><a href="#informacion" aria-controls="informacion" role="tab" data-toggle="tab">Información</a></li>
          <li role="presentation"><a href="#comentarios" aria-controls="comentarios" role="tab" data-toggle="tab">Comentarios</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="descripcion">
            <%= @producto.descripcion.html_safe %>
          </div>
          <div role="tabpanel" class="tab-pane" id="informacion">
            <!--INFORMACION DEL PRODUCTO-->
          </div>
          <div role="tabpanel" class="tab-pane" id="comentarios">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'tijuanageek'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

          </div>

        </div>

      </div>


    </div>

  </div>

  <script>
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide"
      });
    })
  </script>
</span>