<%= form_for @menu, :html => {:multipart => true}  do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :nombremenu %><br>
    <%= f.text_field :nombremenu %>
  </div>

    <div class="field">
      <%= f.label :menu_id %><br>

    </div>


  <div class="field">
    <%= f.label :categoria_id %><br>
    <%= f.select :categoria_id, @categorias.map {|comp| [comp.categoria, comp.id]}, {:include_blank => true}, :class=>"" %>
  </div>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :primario %><br>
    <%= f.check_box :primario %>
  </div>

  <p>
    <label>My Avatar</label>
    <%= f.file_field :imagenmenu %>
    <%= f.hidden_field :imagenmenu_cache %>
  </p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
