<h1>Listado de Menus</h1>
<%= link_to 'Nuevo Menu', new_menu_path, :class => "btn btn-default" %>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Imagenmenu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.nombremenu %></td>
        <td><%= menu.categoria_id if menu.categoria_id != nil %></td>
        <td><%= menu.descripcion %></td>
        <td><%= menu.imagenmenu %></td>
        <td><%= link_to 'Show', menu %></td>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


