<p id="notice"><%= notice %></p>

<p>
  <strong>Nombremenu:</strong>
  <%= @menu.nombremenu %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @menu.categoria_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @menu.descripcion %>
</p>

<p>
  <strong>Imagenmenu:</strong>
  <%= @menu.imagenmenu %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
