

<div class="row registro">
  <%= devise_error_messages! %>
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :candidato => params[:candidato] ) ) do |f| %>
      <h2>Cree su cuenta <small>Es gratis.</small></h2>
      <hr class="colorgraph">
      <div class="row">
        <div class="form-group">
          <div class="form-group" ng-class="{ ' has-error': !email }">
            <%= f.email_field :email, :placeholder=>"E-mail", :class=>"form-control input-lg", :tabindex=>"1", "ng-model"=>'email' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">

          <div class="form-group">
            <div class="form-group" ng-class="{ ' has-error': !nombre }">
              <%= f.text_field :nombre, :placeholder=>"Nombre", :class=>"form-control input-lg", :tabindex=>"2", "ng-model"=>'nombre' %>
            </div>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <div class="form-group" ng-class="{ ' has-error': !apellidos }">
              <%= f.text_field :apellidos, :placeholder=>"Apellidos", :class=>"form-control input-lg", :tabindex=>"3", "ng-model"=>'apellidos' %>
            </div>

          </div>
        </div>

      </div>

      <div class="form-group">
        <div class="form-group" ng-class="{ ' has-warning': !dcinumber }">
          <%= f.text_field :dcinumber, :placeholder=>"Número DCI (Opcional)", :class=>"form-control input-lg", :tabindex=>"4", "ng-model"=>'dcinumber' %>
        </div>

      </div>
        <div class="form-group">
            <div class="form-group" ng-class="{ ' has-error': !direccion }">
              <%= f.text_field :direccion, :placeholder=>"Direccion", :class=>"form-control input-lg", :tabindex=>"5", "ng-model"=>'direccion' %>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group" ng-class="{ ' has-error': !ciudad }">
              <%= f.text_field :ciudad, :placeholder=>"Ciudad", :class=>"form-control input-lg", :tabindex=>"6", "ng-model"=>'ciudad' %>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group" ng-class="{ ' has-error': !estado }">
              <%= f.text_field :estado, :placeholder=>"Estado", :class=>"form-control input-lg", :tabindex=>"7", "ng-model"=>'estado' %>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group" ng-class="{ ' has-error': !cp }">
              <%= f.text_field :cp, :placeholder=>"Codigo Postal", :class=>"form-control input-lg", :tabindex=>"8", "ng-model"=>'cp' %>
            </div>
        </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <div class="form-group" ng-class="{ ' has-error': !password }">
              <%= f.password_field :password, :placeholder=>"Contraseña", :class=>"form-control input-lg", :tabindex=>"9", "ng-model"=>'password' %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <div class="form-group" ng-class="{ ' has-error': !password_confirmation }">
              <%= f.password_field :password_confirmation, :placeholder=>"Confirmar Contraseña", :class=>"form-control input-lg", :tabindex=>"10", "ng-model"=>'password_confirmation' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-3">
					<span class="button-checkbox">
						<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                        <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
					</span>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9">
          Al hacer click en  <strong class="label label-primary">Crear cuenta</strong>, Usted acepta <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terminos y condiciones </a> de este portal.
        </div>
      </div>

      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-6"><%= f.submit "Crear cuenta", :class=>'btn btn-primary btn-block btn-lg', :tabindex=>"8" %></div>
        <div class="col-xs-12 col-md-6"><%= link_to "Ya tengo cuenta", new_user_session_path, :class => 'btn btn-success btn-block btn-lg' %></div>
      </div>
    </form>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>

