<%= form_for(@noticia) do |f| %>
  <% if @noticia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@noticia.errors.count, "error") %> prohibited this noticia from being saved:</h2>

      <ul>
      <% @noticia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :noticia %><br>
    <%= f.text_area :noticia %>
  </div>
  <div class="field">
    <%= f.label :categoria_id %><br>
    <%= f.number_field :categoria_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
