<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @noticia.titulo %>
</p>

<p>
  <strong>Noticia:</strong>
  <%= @noticia.noticia %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @noticia.categoria_id %>
</p>

<%= link_to 'Edit', edit_noticia_path(@noticia) %> |
<%= link_to 'Back', noticias_path %>
