<% @menus.each do |menu| %>
  <ul class="nav navbar-nav">
      <li>
          <% if menu.submenus.count > 0 %>
            <%= link_to "#{menu.nombremenu} <b class='caret'></b>".html_safe, ver_productos_path(menuid: menu.id),  "data-no-turbolink" => true, :'data-toggle'=>"dropdown", :class => 'dropdown-toggle' %>
            <ul class="dropdown-menu">
                <% if menu.submenus.count > 0 %>
                  <% menu.submenus.each do |submenu|%>
                    <% if submenu.subsubmenus.count > 0 %>
                      <li class="dropdown-submenu">
                          <%= link_to "#{submenu.nombremenu}".html_safe, ver_productos_path(submenuid: submenu.id),  "data-no-turbolink" => true, :'data-toggle'=>"dropdown", :class => 'dropdown-toggle' %>
                          <ul class="dropdown-menu">
                              <% submenu.subsubmenus.each do |subsubmenu|%>
                                <li><%= link_to "#{subsubmenu.nombremenu}".html_safe, ver_productos_path(subsubmenuid: subsubmenu.id),  "data-no-turbolink" => true %></li>
                              <% end %>
                          </ul>
                      </li>
                    <% else %>
                      <li><%= link_to "#{submenu.nombremenu}".html_safe, ver_productos_path(submenuid: submenu.id),  "data-no-turbolink" => true %></li>
                    <% end %>
                  <% end %>
                <% else %>
                <% end %>
            </ul>
          <% else %>
            <%= link_to "#{menu.nombremenu}".html_safe, ver_productos_path(menuid: menu.id),  "data-no-turbolink" => true %>
          <% end %>
      </li>
  </ul>
<% end %>