<% if flash[:alert] %>
  <div class="alert alert-error alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Aviso!</h4>
    <%= flash[:alert] %>
  </div>

<% end %>
<% if flash[:notice] %>
  <div class="alert alert-info alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Aviso!</h4>
    <%= flash[:notice] %>
  </div>

<% end %>