<% @productos.each do |producto| %>
<div class="col-xs-3 col-sm-4 col-md-4" >
  <div class="col-item" style="margin-top: .5em;">
    <div class="photo">
      <% if producto.imagen.url == nil || producto.imagen.url == "" %>
fewefw
        <%= link_to  image_tag("camingsoon.png", :class => "img-responsive", :alt=>''), ver_producto_path(producto),  "data-no-turbolink" => true %>
      <% else %>

        <%= link_to  image_tag(producto.imagen, :class => "img-responsive", :alt=>''), ver_producto_path(producto),  "data-no-turbolink" => true %>
      <% end %>
    </div>
    <div class="info">
      <div class="row">
        <div class="price col-md-12 col-sm-6 col-xs-4">
          <h5>
            <%= link_to producto.nombre, ver_producto_path(producto),  "data-no-turbolink" => true %></h5>
          <h5 class="price-text-color">
            $<%= producto.costo %> <br /><%= producto.tpmoneda %></h5>
        </div>
        <!--<div class="rating hidden-sm col-md-6">-->
          <!--<i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">-->
        <!--</i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">-->
        <!--</i><i class="fa fa-star"></i>-->
        <!--</div>-->
      </div>
      <div class="separator clear-left">
        <p class="btn-add">
          <span style="font-size: 2em;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"  ng-click="oneclickadd('<%= producto.id %>')"  ></span><span> <span ng-click="oneclickadd('<%= producto.id %>')" style="color: #003399; padding: 10px;">Agregar</span></span></p>
        <p class="btn-details">
          <span style="font-size: 2em;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><%= link_to ' Mas Detalles', ver_producto_path(producto),  "data-no-turbolink" => true, :class => 'hidden-sm' %></p>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
</div>


<% end %>
