

<div class="navbar navbar-inverse" role="navigation" >
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">TijuanaGeek  <% if user_signed_in? %>
        - <small><%= current_user.email %> </small>  - <% end %> </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Principal", root_path,  "data-no-turbolink" => true  %></li>
      <li><%= link_to "Quienes somos", quienes_somos_path,  "data-no-turbolink" => true  %></li>
      <li><%= link_to "Donde estamos", principal_ubicacion_path,  "data-no-turbolink" => true  %></li>
      <li><%= link_to "Contacto", principal_contacto_path,  "data-no-turbolink" => true  %></li>

    </ul>



    <!-- Left nav -->


    <ul class="nav navbar-nav navbar-right" >
        <li>
            <a class="btn btn-default btn-lg" data-no-turbolink="true" href="/principal/checkout?productos={{productosid}}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span class="badge ng-binding">{{productos.length}}</span> Articulos</a>

</li>
      <% if user_signed_in? %>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi Cuenta<b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
            <li> <%= link_to "Editar Cuenta", edit_user_registration_path %></li>
            <li> <%= link_to "Cerrar Sessión", destroy_user_session_path %></li>
            <% if current_user.roles.map(&:name) == ["Administrador"] %>
              <li class="divider"></li>
              <li> <%= link_to "Panel de control", dashboard_path %></li>
            <% end %>

          </ul>
        </li>
      <% else %>
        <li><%= link_to "Ingresar", new_user_session_path,  "data-no-turbolink" => true %></li>
        <li><%= link_to "Registrarme", new_user_registration_path,  "data-no-turbolink" => true %></li>
      <% end %>

    </ul>










  </div><!--/.nav-collapse -->
</div>
