<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TijuanaGeek  <% if user_signed_in? %>
          - <small><%= current_user.email %> </small>  - <% end %> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Categorias", categorias_path,  "data-no-turbolink" => true  %></li>
        <li><%= link_to "Productos", productos_path,  "data-no-turbolink" => true  %></li>
        <li><%= link_to "Marcas", marcas_path,  "data-no-turbolink" => true  %></li>
        <li><%= link_to "Tipos", tipos_path,  "data-no-turbolink" => true  %></li>
        <li><%= link_to "Menu", menus_path %></li>
        <li><%= link_to "sub-Menu", submenus_path %></li>
        <li><%= link_to "subsub-Menu", subsubmenus_path %></li>


      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>

          <li> <%= link_to "Cerrar Sessión", destroy_user_session_path %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi Cuenta <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Ingresar", new_user_session_path %></li>
              <li><%= link_to "Registrarme", new_user_registration_path %></li>



            </ul>
          </li>


        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
