<div class="col-sm-3 col-md-2"   ng-controller="menu" ng-init="contpedidos()">

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                    </span>Content</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span>
                        <ul class="list-group">
                            <li class="list-group-item"><span class="glyphicon glyphicon-barcode text-primary"></span><%= link_to "Productos", productos_path,  "data-no-turbolink" => true  %></li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-registration-mark text-success"></span><%= link_to "Marcas", marcas_path,  "data-no-turbolink" => true  %></li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><%= link_to "Tipos", tipos_path,  "data-no-turbolink" => true  %></li>
                            <li class="list-group-item"><span class="glyphicon glyphicon glyphicon-usd text-success"></span><%= link_to "Pedidos", pedidos_path,  "data-no-turbolink" => true %><span class="badge">{{pedidos}}</span></li>


                        </ul>
                    </li>

                    <li class="list-group-item"><span class="glyphicon glyphicon-th-large text-success"></span><%= link_to "Menu", menus_path %></li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-th-list text-info"></span><%= link_to "sub-Menu", submenus_path %></li>
                    <li class="list-group-item"> <span class="glyphicon glyphicon-th text-success"></span><%= link_to "subsub-Menu", subsubmenus_path %></li>

                </ul>
            </div>
        </div>


    </div>
</div>