<style>
    .submenus{
      font-size: 0.9em;
      color: #000000 !important;
    }
</style>
<% @menus.each do |menu| %>
  <ul class="tree">
      <li><%= link_to "#{menu.nombremenu}".html_safe, ver_productos_path(menuid: menu.id),  "data-no-turbolink" => true %>
      <% if menu.submenus.count > 0 %>
        <ul>
            <% if menu.submenus.count > 0 %>
              <% menu.submenus.each do |submenu|%>
                <% if submenu.subsubmenus.count > 0 %>
                  <li>
                      <%= link_to "#{submenu.nombremenu}".html_safe, ver_productos_path(submenuid: submenu.id),  "data-no-turbolink" => true, :class => 'submenus' %>
                      <ul>
                          <% submenu.subsubmenus.each do |subsubmenu|%>
                            <li><%= link_to "#{subsubmenu.nombremenu}".html_safe, ver_productos_path(subsubmenuid: subsubmenu.id),  "data-no-turbolink" => true %></li>
                          <% end %>
                      </ul>
                  </li>
                <% else %>
                  <li><%= link_to "#{submenu.nombremenu}".html_safe, ver_productos_path(submenuid: submenu.id),  "data-no-turbolink" => true %></li>
                <% end %>
              <% end %>
            <% else %>
            <% end %>
        </ul>
      <% else %>

      <% end %>

      </li>

  </ul>
<% end %>

<script>
  $.fn.extend({
    treed: function() {
      return this.each(function() {
        //initialize each of the top levels
        var tree = $(this);
        tree.addClass("tree");
        tree.find('li').has("ul").each(function () {
          var branch = $(this); //li with children ul
          branch.prepend("<i class='indicator glyphicon glyphicon-plus-sign'></i>");
          branch.addClass('branch');
          branch.on('click', function (e) {
            if (this == e.target) {
              var icon = $(this).children('i:first');
              icon.toggleClass("glyphicon-minus-sign glyphicon-plus-sign");
              $(this).children().children().toggle();
            }
          });
          branch.children().children().toggle();
        });
        //fire event from the dynamically added icon
        $('.branch .indicator, i').on('click',function(){
          $(this).closest('li').click();
        });
        //fire event to open branch if the li contains an anchor instead of text
//        $('.branch a').on('click',function(e){
//          $(this).closest('li').click();
//          e.preventDefault();
//        });
        //fire event to open branch if the li contains a button instead of text
        $('.branch button').on('click',function(e){
          $(this).closest('li').click();
          e.preventDefault();
        });
      });
    }
  });


  $('.tree').treed();
</script>