<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo.tipo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_path(@tipo) %> |
<%= link_to 'Back', tipos_path %>
