<h1>Listing pedidos</h1>


<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Mostrar pedido</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
  <% @pedidos.each do |pedido| %>
    <tr>
        <td><%= pedido.user_id %></td>
        <td><%= pedido.status %></td>
        <td><%= link_to 'Show', pedido %> </td>
        <td>

          <%= link_to 'Modificar Estatus', edit_pedido_path(pedido) %>
          <%# link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>
