<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @marca.marca %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @marca.descripcion %>
</p>

<%= link_to 'Edit', edit_marca_path(@marca) %> |
<%= link_to 'Back', marcas_path %>
