<h1>Listado  categorias</h1>

<%= link_to 'New Categoria', new_categoria_path, :class=>"btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.categoria %></td>
        <td><%= categoria.descripcion %></td>
        <td><%= link_to 'Show', categoria %></td>
        <td><%= link_to 'Edit', edit_categoria_path(categoria) %></td>
        <td><%= link_to 'Destroy', categoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


