<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @categoria.categoria %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @categoria.descripcion %>
</p>

<%= link_to 'Edit', edit_categoria_path(@categoria) %> |
<%= link_to 'Back', categorias_path %>
