<div class="row registro" style="margin-top:20px" >
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <h2>Iniciar sesión Tijuana Geek</h2>
        <hr class="colorgraph">
        <div class="form-group">
            <%= f.email_field :email, :autofocus => true, :placeholder=>"E-mail", :required=>true, :class=>'form-control input-lg' %>
        </div>
        <div class="form-group">
            <%= f.password_field :password, :placeholder=>"Contraseña", :required=>true, :class=>'form-control input-lg'  %>
        </div>
				<span class="button-checkbox">
					<button type="button" class="btn" data-color="info">Mantener Sessión abierta</button>

            <%= f.check_box :remember_me, :id=>'remember_me', :class=>'hidden' %>
            <%= render "devise/shared/links" %>
				</span>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
              <%= f.submit "Ingresar", :class=>'btn btn-lg btn-success btn-block' %>

          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="" class="btn btn-lg btn-primary btn-block">Register</a>
          </div>
        </div>
      </fieldset>
      <% end %>
    <br/><br/><br/>
  </div>
</div>
