<%= form_for(@subsubmenu) do |f| %>
  <% if @subsubmenu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsubmenu.errors.count, "error") %> prohibited this subsubmenu from being saved:</h2>

      <ul>
      <% @subsubmenu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombremenu %><br>
    <%= f.text_field :nombremenu %>
  </div>
  <div class="field">
    <%= f.label :submenu_id %><br>
    <%= f.select :submenu_id, @submenus.map {|comp| [comp.nombremenu, comp.id]}, {:include_blank => true}, :class=>"" %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
