<h1>Listing subsubmenus</h1>

<table>
  <thead>
    <tr>
      <th>Submenu</th>
      <th>Menu</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsubmenus.each do |subsubmenu| %>
      <tr>
        <td><%= subsubmenu.nombremenu %></td>
        <td><%= subsubmenu.submenu_id %></td>
        <td><%= subsubmenu.descripcion %></td>
        <td><%= link_to 'Show', subsubmenu %></td>
        <td><%= link_to 'Edit', edit_subsubmenu_path(subsubmenu) %></td>
        <td><%= link_to 'Destroy', subsubmenu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subsubmenu', new_subsubmenu_path %>
