<p id="notice"><%= notice %></p>

<p>
  <strong>Submenu:</strong>
  <%= @subsubmenu.nombremenu %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @subsubmenu.submenu_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @subsubmenu.descripcion %>
</p>

<%= link_to 'Edit', edit_subsubmenu_path(@subsubmenu) %> |
<%= link_to 'Back', subsubmenus_path %>
