<%= tinymce %>
<div class="col-md-offset-2">
  <%= form_for @producto, html: {:class=>"form-horizontal", :role=>"form", :multipart => true} do |f| %>
    <% if @producto.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

        <ul>
        <% @producto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>





    <div class="form-group col-md-4">
    <div class="col-md-6">
      <label>Imagen Principal</label>
      <span class="thumbnail"><%= image_tag(@producto.imagen_url) if @producto.imagen? %></span><br />
       <label>
          <%= f.check_box :remove_imagen %>
          Eliminar Imagen
        </label>
        <%= f.file_field :imagen, :class=>"form-control" %>
        <span id="helpBlock" class="help-block">Tamaño Maximo ancho <strong>400px</strong> y Alto <stron>255px</stron></span>
        <%= f.hidden_field :imagen_cache %><br />
    </div>
    <%= f.text_field :nombre, :class=>"form-control ", :placeholder=>"Nombre producto", :class=>"form-control", :required=>true %><br />
      <%= f.text_field :sku, :class=>"form-control ", :placeholder=>"Ingrese SKU", :class=>"form-control" %><br />




      <% Menu.all.each do |menu| %>
        <%= check_box_tag "producto[menu_ids][]", menu.id, @producto.menus.include?(menu) %>
        <%= menu.nombremenu %><br />

          <% menu.submenus.each do |submenu| %>
            *<%= check_box_tag "producto[submenu_ids][]", submenu.id, @producto.submenus.include?(submenu) %>
            <%= submenu.nombremenu %><br />
            <% submenu.subsubmenus.each do |subsubmenu| %>
              **<%= check_box_tag "producto[subsubmenu_ids][]", subsubmenu.id, @producto.subsubmenus.include?(subsubmenu) %>
              <%= subsubmenu.nombremenu %><br />
          <% end %>


          <% end %>

      <% end %>






    </div>

    <div class="form-group col-md-5">
      <div class="col-md-4">
        <%= f.text_field :preciocosto, :class=>"form-control", :placeholder=>"Precio Proveedor", :class=>"form-control",  :"data-toggle"=>"tooltip", :"data-placement"=>"top", :"title"=>"Precio Proveedor" %><br />
        <%= f.text_field :preciosugerido, :class=>"form-control", :placeholder=>"Costo Sugerido", :class=>"form-control", :"data-toggle"=>"tooltip", :"data-placement"=>"top", :"title"=>"Costo Sugerido" %><br />
      </div>
      <div class="col-md-4">
        <%= f.text_field :costo, :class=>"form-control", :placeholder=>"Costo Regular", :class=>"form-control", :required=>true, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :"title"=>"Costo Regular" %><br />
        <%= f.text_field :especial, :class=>"form-control", :placeholder=>"Costo Especial", :class=>"form-control", :"data-toggle"=>"tooltip", :"data-placement"=>"top", :"title"=>"Costo Especial" %><br />
      </div>
      <div class="col-md-4">
        <%= f.text_field :porcentajeganacia, :class=>"form-control", :placeholder=>"Ingrese % Ganancia", :class=>"form-control", :required=>true, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :"title"=>"Ingrese % Ganancia" %><br />
        <%= f.text_field :costoproveedorenvio, :class=>"form-control", :placeholder=>"Costo Prov. Envio", :class=>"form-control", :"data-toggle"=>"tooltip", :"data-placement"=>"top", :"title"=>"Costo Prov. Envio" %><br />
      </div>
      <div class="col-md-4">
        <%= f.select :tpmoneda, {'Pesos MX'=>'Pesos MX', 'Dollar USA'=>'Dollar USA' }, { :include_blank =>"Seleccion moneda"}, :required=>"true", :class=>"form-control" %>

      </div>
      <div class="col-md-4">
        <%= f.select :usarcosto, {'Costo Regular'=>'Costo Regular', 'Costo Especial'=>'Costo Especial', 'Costo Sugerido'=>'Costo Sugerido' }, {:selected => 'Costo Regular', :include_blank =>true},  :class=>"form-control" %>
      </div>

    </div>


    <div class="form-group">
      <%= f.select :tipo_id, @tipos.map {|comp| [comp.tipo, comp.id]}, {:include_blank => "Seleccione Tipo"}, :class=>"form-control", :required=>true %>
    </div>
    <div class="form-group">
      <%= f.select :marca_id, @marcas.map {|comp| [comp.marca, comp.id]}, {:include_blank => "Seleccione Marca"}, :class=>"form-control", :required=>true %>
    </div>
    <div class="form-group">
      <%= f.select :categoria_id, @categorias.map {|comp| [comp.categoria, comp.id]}, {:include_blank => "Seleccione Categoría"}, :class=>"form-control", :required=>true %>
    </div>


    <div class="form-group">
      <%= f.label :nuevo, "Mostrar en barra nuevo" %><br>
      <%= f.check_box :nuevo %>
    </div>
    <div class="form-group">
      <%= f.label :portada, "Mostrar En portada" %><br>
      <%= f.check_box :portada %>
    </div>
    <div class="form-group">

     <strong> Agregar en sleader:</strong> <%= f.check_box :sleader, :class=>"form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_area :sleadertext, :class=>"form-control", :placeholder=>"Texto del Slider"  %>
      <br /><br /><br />
    </div>



    <div class="form-group col-md-6">
      <h3>Descripción del producto</h3>
      <%= f.text_area :descripcion, :class=>"form-control tinymce", :placeholder=>"Descripcion", :rows=>5, :cols =>20 %><br />
    </div>
    <div class="clearfix"></div>


    <% if action_name != "new" %>
      <div class="col-md-6">
        <%= link_to "Listar Imagenes", producto_galerias_path(@producto.id), :class => "btn btn-default"  %>
        <table class="table">
          <thead>
          <tr>
            <th>Imagen</th>
          </tr>
          </thead>
          <tbody>
          <% @producto.galerias.each do |galeria| %>
                <tr>
                  <td>
                    <%= image_tag(galeria.imagen, "size"=>"150") %>
                  </td>

                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.text_area :notas, :class=>"form-control", :placeholder=>"Notas" %><br />
    </div>
    <div class="form-group">
      <%= f.label :activo, "Producto Activo" %><br>
      <%= f.check_box :activo %>
    </div>

    <div class="actions">
      <% if controller.action_name == "new" || controller.action_name == "create" %>
          <%= f.submit "Generar Producto", data: { disable_with: 'Agregando Datos' }, :class=>"btn btn-primary" %>
      <% else %>
          <%= f.submit "Actualizar Producto", data: { disable_with: 'Actualizando Datos' }, :class=>"btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
