<h1>Listing productos</h1>
<%= link_to 'Nuevo producto', new_producto_path, :class=>"btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Sku</th>
      <th>Producto</th>
      <th>Nombre</th>
      <th>Costo</th>
      <th>Costo Especial</th>
      <th>Categoría</th>
      <th>Marca</th>
      <th>Tipo</th>
      <th>Portada</th>
      <th>Nuevo</th>
      <th>Sleader</th>

      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.sku %></td>
        <td><%= image_tag(producto.imagen_url, "size"=>"150") if producto.imagen? %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.costo %> <%= producto.tpmoneda %></td>
        <td><% if producto.especial == nil || producto.especial == "" %> <% else %> <%= producto.especial %> <%= producto.tpmoneda %> <% end %></td>
        <td><%= producto.categoria.categoria if producto.categoria_id != nil %></td>
        <td><%= producto.marca.marca if producto.marca_id != nil %></td>
        <td><%= producto.tipo.tipo if producto.tipo_id != nil %></td>
        <td>
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <% if producto.portada == false %>
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            <% else %>
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <% end %>
          </button>
        </td>

        <td>
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <% if producto.nuevo == false %>
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            <% else %>
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <% end %>
          </button>
        </td>

        <td>
          <button type="button" class="btn btn-default" aria-label="Left Align">
          <% if producto.sleader == false %>
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <% end %>
          </button>
        </td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'.html_safe, producto, :class=>"btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'.html_safe, edit_producto_path(producto), :class=>"btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe, producto, method: :delete, data: { confirm: 'Esta usted seguro?' }, :class=>"btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
