<p id="notice"><%= notice %></p>
<h1><%= @producto.nombre %> <br /> <smal><%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modificar'.html_safe, edit_producto_path(@producto), :class=>"btn btn-default  btn-lg" %></smal></h1>

<span class="thumbnail">
      <%= image_tag(@producto.imagen_url) if @producto.imagen? %>
</span>
<div id="producto" class="col-md-5 pull-left lead">
   <table class="table">

        <tbody>
          <tr>
            <th>Costo:</th> <td><%= @producto.costo %> <%= @producto.tpmoneda %></td>
          </tr>
           <tr>
            <th>Costo Especial:</th> <td><%= @producto.especial %> <%= @producto.tpmoneda %></td>
          </tr>
          <tr>
            <th>Categoria:</th> <td><%= @producto.categoria.categoria %></td>
          </tr>
          <tr>
            <th>Mostrar como producto nuevo:</th> <td><%= @producto.nuevo %></td>
          </tr>
          <tr>
            <th>SKU:</th> <td><%= @producto.sku %></td>
          </tr>
          <tr>
            <th>Mostrar en slider:</th> <td><%= @producto.sleader %><br />Texto Slider:<small><%= @producto.sleadertext %></small></td>
          </tr>
        </tbody>
      </table>
  </div>

<p class="lead">
  <strong>Descripcion:</strong>
  <%= @producto.descripcion.html_safe %>
</p>

<div class="clearfix"></div>
<div>
  <h3>Imagenes Adicionales</h3>
  <%= link_to "Listar Imagenes", producto_galerias_path(@producto.id), :class => "btn btn-default"  %>
  <table class="table">
    <thead>
    <tr>
      <th>Imagen</th>
    </tr>
    </thead>
    <tbody>
    <% @producto.galerias.each do |galeria| %>
      <tr>
        <td>
          <%= image_tag(galeria.imagen, "size"=>"150") %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>

  <p class="lead">
  <strong>Notas Administrativas:</strong><br />
  <%= @producto.notas %>
</p>


</div>
