<%= form_for @galeria do |f| %>


  <p>
    <label>Imagen Adicional</label>
    <%= image_tag(@galeria.imagen_url) if @galeria.imagen? %><br />
    <%= f.file_field :imagen, :class=>"form-control", :required=>true %>
    <%= f.hidden_field :imagen_cache %><br />
  </p>

    <%= f.hidden_field :producto_id, :value=>params[:producto_id] %>

  <div class="actions">
    <%= f.submit "Agregar Imagen", :class=>"btn btn-primary" %>
  </div>
<% end %>
