<h1>Galeria del producto<br /><small><%= @producto.nombre%></small></h1>

<%= link_to 'Agregar imagen', new_producto_galeria_path(params[:producto_id]), :class => "btn btn-primary" %>
<%= link_to 'Regresar al producto', producto_path(params[:producto_id]), :class => "btn btn-info" %>

<table class="table">
  <thead>
    <tr>
      <th>Imagen</th>

      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @galerias.each do |galeria| %>
      <tr>
        <td><%= image_tag(galeria.imagen_url, style: "width: 10%;") if galeria.imagen? %></td>
        <td>
          <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_producto_galeria_path(params[:producto_id], galeria), :class => "btn btn-default" %>
          <%= link_to link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, producto_galeria_path(params[:producto_id], galeria), method: :delete, data: { confirm: 'Eliminar esta imagen?' }, :class => "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


