<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= @galerium.imagen %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @galerium.articulo_id %>
</p>

<%= link_to 'Edit', edit_galerium_path(@galerium) %> |
<%= link_to 'Back', galeria_path %>
