body {
    /*background: #000000;*/
    background: url("<%= asset_path('Art_M15_Art-4_Paquette.jpg') %>") center;
    background-attachment: fixed;
    background-color: #cccccc;
}

.productonuevo
{
    margin-top: 155px;
    margin-right: 5%;
}


.producto
{
    min-height: 458px;
  max-height: 440px;
}

#producto
{
    background-color: #ffffff;
}




.logo
{
    width: 30%;

}
.producto{
  display: table-cell;
  max-height: 200px;
  overflow: hidden;
}

.imgproducto
{
  width: 50%;
  height: 15em;
  margin: 0 auto;
  overflow: hidden;
}
.page-header
{
    color: #ffffff;
}

.page-header h1 small
{
    color: #f5f5f5;
}


