<!DOCTYPE html>
<html lang="es">
<head>
  <title> - Tijuana Geek ** Panel Administracion ** -</title>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="Obelich De Tara">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true  %>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" async></script><![endif]-->
  <%= csrf_meta_tags %>
</head>
<body ng-app="dashboard">
<header>
  <%= image_tag "logo.png", :class=>'logo' %>
  <%= render "shared/menuadmin" %>

</header>

<%= render "shared/flashmessage" %>


<%= render "shared/newadminmenu" %>






<div class="container-fluid col-md-10 col-sm-3">

    <%= yield %>
    <%= yield :javascript %>


</div>
<footer>

</footer>

</body>
</html>