<!DOCTYPE html>
<html lang="es">
<head>
  <title> - Tijuana Geek  -</title>

  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="Obelich De Tara">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" async></script><![endif]-->

  <%= csrf_meta_tags %>

</head>
<body  ng-app="tijuanaGeek" ng-controller="principal">
<header>
  <%= image_tag "logo.png", :class=>'logo' %>
  <%= render "shared/menu" %>

</header>

<%= render "shared/flashmessage" %>



<div class="container-fluid">


  <!--<div class="panel panel-default col-md-2 productonuevo hidden-xs">-->
    <!--<div class="panel-heading text-center" ><h2><span class="label label-primary">Producto Nuevo</span></h2></div>-->
    <!--<div class="panel-body">-->

      <!--&lt;!&ndash;INICIA EL CONTENEDOR DE PRODUCTOS&ndash;&gt;-->



      <!--&lt;!&ndash;FINALIZA EL CONTENEDOR DE PRODUCTOS&ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->



    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Productos</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <%= render "shared/treemenu" %>
            </div>
        </div>
    </div>


  <div class="col-md-7" >

    <%= yield %>
    <%= yield :javascript %>
  </div>

</div>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li>
              <div class="input-append newsletter-box text-center">
                <input type="text" class="full text-center" placeholder="Email ">
                <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
              </div>
            </li>
          </ul>
          <ul class="social">
            <li> <a href="https://es-es.facebook.com/TijuanaGeek"> <i class=" fa fa-facebook">   </i> </a> </li>
            <!--<li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>-->
            <!--<li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>-->
            <!--<li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>-->
            <!--<li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>-->
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> TijuanaGeek. </p>
      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <!--<li><i class="fa fa-cc-visa"></i></li>-->
          <!--<li><i class="fa fa-cc-mastercard"></i></li>-->
          <!--<li><i class="fa fa-cc-amex"></i></li>-->
          <!--<li><i class="fa fa-cc-paypal"></i></li>-->
        </ul>
      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'tijuanageek'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
</body>
</html>
